* {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Sans;
}
.heading {
  background-color: #0060B2;
  padding-top: 1%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
#particles-js {
  background-color: #0060B2;
  height: 100vh;
}

.a{
  border: 2px solid #F1F1F1;
  text-decoration: none;
  color: #F1F1F1;
  position: relative;
  padding: 20px 40px;
  font-size: 20px;
  overflow: hidden;
}
.a:hover{
  transition: 1s ease;
  background-color: #F1F1F1;
  text-decoration: none;
  color: #0060B2;
  position: relative;
  padding: 20px 40px;
  font-size: 20px;
  overflow: hidden;
}

.some-icons{
  padding: 10px;
  font-size: 25px;
  width: 100%;
  border-radius: 15px;
}

.a:before{
  content: '';
  background-color: #F1F1F1;
  top: 0;
  left: 10px;
  width: 8%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transform: skew(-15deg);
}

#team a {
  border: 2px solid #F1F1F1;
}

#team a:hover {
  border: 2px solid #F1F1F1;
  background-color: #F1F1F1;
  color: #0060B2;
  border-radius: 5px;
  transition: 2s ease;
}

.waitlist-btn a {
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  padding: 20px 30px;
  color: #F1F1F1;
  text-decoration: none;
  font-size: 20px;
}

.waitlist-btn:hover {
  background-color: #F1F1F1;
  transition: 1s ease;
}

#nav a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#payment-cap h1 {
  font-size: 105px;
  font-weight: bold;
}

/* ------------------------------------
* About Us Sec Styling
-------------------------------------*/
#sec-2 {
  height: auto;
  width: 98%;
}

.coin-img {
  text-align: center;
  cursor: pointer;
  width: 60%;
}
.about-us-cover {
  margin-top: 5%;
}

.about-us {
  font-size: 40px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  color: black;
}

#features-row {
  width: 100%;
  margin-left: 0.2%;
}

.mobile-for-ft-slider {
  display: none;
}

#features-row h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 22px;
  color: #0060B2;
}

#feaure-row-div {
  width: 80%;
}


.feat-elements {
  margin: 4%;
}

span {
  font-size: 35px;
}

/* ----------------------------
* Carousel Styling
------------------------------*/
#carousel-control {
  border: 2px solid #0060B2;
  background-color: #0060B2;
  margin-right: 90%;
}

#carousel-control2 {
  border: 2px solid rgba(8, 70, 226, 1);
  background-color: rgba(8, 70, 226, 1);
}

#carousel-img-caption {
  width: 10%;
}

/* --------------------------------
* Bar code Sec Styling
--------------------------------*/
#bar-code-sec {
  height: 100 auto;
  background-color: #151515;
}

.scan-to-pay h1 {
  text-align: center;
  font-weight: bold;
  font-size: 105px;
  color: #F1F1F1;
  letter-spacing: 0.1px;
}

.scan-to-pay p {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #F1F1F1;
}

.loading {
  animation: loading 5s linear infinite;
}

/* Animations for coin sample */
@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
}

/* Animations for coin image header */
.header-img {
  animation: loading 10s linear infinite;
}

/* bouncing header */
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: 1s ease;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0deg); }
  50%  { transform: translateY(-40px); }
  100% { transform: translateY(0deg); }
}

@keyframes header-img {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
    transform: rotateX(90deg) rotateY(90deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(90deg);
    transform: rotateX(90deg) rotateY(90deg);
  }
}

.bar-code-img {
  cursor: pointer;
  align-items: center;
  margin-left: 40%;
  width: auto;
}

/* ----------------------------------
* Adverting Section Styling
------------------------------------*/
#advert-sec {
  height: 100 auto;
}

.feature-cover {
  width: 70%;
  margin-left: 15%;
}

/* ---------------------------------------
* Footer Styling
 ----------------------------------------*/
#footer-cover {
  height: auto;
  margin-top: -5%;
  /* border: 1px solid red; */
}

#footer {
  background-color: #0060B2;
}

#future-of-payment {
  margin-top: -6%;
  text-align: left;
  font-size: 65px;
  color: #F1F1F1;
  letter-spacing: 0.1px;
}

#trade-mark p {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #F1F1F1;
  text-align: center;
}

#waitlist-div {
  align-content: flex-end;
}

#waitlist h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  margin-top: -10%;
  font-weight: bold;
  letter-spacing: 0.1px;
}

hr {
  margin-top: 40px;
  background-color: white;
  opacity: 0.503;
  color: #F1F1F1;
}

.header-img {
  width: 80%;
  margin-left: 15%;
  cursor: pointer;
}

/* ---------------------------------
 * Media queries styling 
 -----------------------------------*/
@media (max-width: 767.98px) {
  .header-img {
    display: none;
  }
}

.mobile-feat-header {
  display: none;
}

@media (max-width: 767.98px) {
  .mobile-feat-header {
    display: block;
    width: 100%;
  }

  .header-mobile-control {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .mobile-font {
    margin-top: -20%;
    font-size: 10px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  #sec-2 h2 {
    width: 100%;
    margin-left: 10px;
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 767.98px) {
  .mobile-feat {
    width: 100%;
  }
}

#mobile-features-styles {
  display: none;
}

.payment-methods{
  color: #0060B2;
  font-weight: bold;
  cursor: pointer;
}

.payment-methods:hover{
  color: #00377F;
  font-weight: bold;
  cursor: pointer;
  transition: 1s ease;
}

@media (max-width: 767.98px) {
  #mobile-features-styles {
    display: block;
    margin-top: 20px;
    margin-left: 2%;
  }

  .sec {
    margin: 2%;
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 5px;
    cursor: pointer;
  }

  .sec h4 {
    color: #0060B2;
  }

  #features-row {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .scan-to-pay h1 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .scan-to-pay p {
    width: 90%;
    margin-left: 5%;
    font-size: 16px;
    cursor: pointer;
  }

  .scan-to-pay img {
    margin-left: 30%;
    width: 40%;
    cursor: pointer;
  }
}

@media (max-width: 767.98px) {
  .payment-method {
    margin-top: 2%;
  }

  .mobile-for-ft-slider-cover {
    width: 100%;
  }

  .payment-flex {
    display: flex;
    width: 100%;
  }

  .feat {
    border-radius: 5px;
    margin-left: 10px;
  }

  .feat span {
    cursor: pointer;
    font-size: 22px;
  }

  .payment-methods {
    font-size: 10px;
    font-weight: bold;
    color: #0060B2;
  }

  .feature-cover {
    padding: 5%;
  }
}

@media (max-width: 767.98px) {
  .mobile-font {
    margin-top: -20%;
    font-size: 10px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .dp-for-ft-slider {
    display: none;
  }

  .mobile-for-ft-slider {
    display: block;
    display: flex;
    width: 100%;
  }
}

.mobile-sm-styles {
  display: none;
}

@media (max-width: 767.98px) {
  .mobile-sm-styles {
    display: block;
    display: flex;
    margin-top: -20%;
    font-size: 30px;
    margin-left: 5%;
  }
  .pc-view {
    display: none;
  }

  .feature-of-payment-mobile {
    width: 80%;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  #future-of-payment {
    margin-left: 5%;
    width: 100%;
    margin-bottom: 40px;
  }
  .waitlist-mobile {
    margin-bottom: 20px;
    width: 90%;
    margin-left: 2%;
  }

  #waitlist h4 {
    width: 90%;
    margin-left: 5%;
    color: #F1F1F1;
  }
}

/* -------------------------
  form styling 
  --------------------------*/
.form-sec {
  width: 80%;
}

@media (max-width: 767.98px) {
  .form-sec {
    width: 100%;
  }
}
