* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}
.tm-header {
  background-color: #2868e2;
  width: 100%;
}
.header-image {
  width: 90%;
  margin-top: 4%;
  margin-left: 12%;
}
.cover {
  width: 96%;
  margin-left: 2%;
}
.tm-payment {
  width: 100%;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  letter-spacing: 1.57px;
  line-height: 192px;
}
.tm-payment p {
  margin-left: -2%;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 38px;
  font-weight: 400;
  line-height: 59px;
}
.tm-payment h1 {
  height: 356px;
  margin-left: -2%;
  width: 100%;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 110px;
  font-weight: 700;
  padding-top: 12%;
  letter-spacing: 1px;
}
.tm-form {
  margin-left: 0%;
  margin-top: -15%;
}
.tm-form p {
  color: rgba(255, 255, 255, 0.47);
  border-bottom: 1px solid #ffffff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 38px;
}
.tm-form input {
  border: transparent;
  background: transparent;
  width: 90%;
  outline: transparen;
  border-bottom: 1px solid #ffffff;
  color: rgba(255, 255, 255, 0.47);
  font-family: "IBM Plex Sans";
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 38px;
}
.tm-form a {
  padding: 10px 5px;
  box-shadow: 0 10px 12px rgba(255, 255, 255, 0.19);
  background-color: #ffffff;
  height: 35px;
  color: #0846e2;
  font-family: "IBM Plex Sans";
  font-size: 25px;
  font-weight: 500;
  font-family: "Apple Color Emoji";
}
.tm-about {
  width: 1088px;
  margin-left: 7%;
  height: 440px;
  color: #000000;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 57px;
  font-weight: 300;
  line-height: 75px;
}

.header-changes span:before {
  content: "TRANSITIONS";
  font-size: 100px;
  color: #f1f1f1;
  color: #f1f1f1;
  animation: word-switch 10s infinite;
  transition: 1s ease;
}

@keyframes word-switch {
  0% {
    content: "Simplier";
  }
  50% {
    content: "Unique";
  }
  100% {
    content: "Easier";
  }
}

.heading {
  background-color: #2868e2;
  padding-top: 1%;
  height: 100%;
}
#particles-js {
  background-color: #2868e2;
  height: 100vh;
}
#particles-js-form {
  background-color: #2868e2;
  height: 20vh;
}
.a {
  border: 2px solid #f1f1f1;
  text-decoration: none;
  color: #f1f1f1;
  position: relative;
  padding: 20px 40px;
  font-size: 20px;
  overflow: hidden;
}
.a:hover {
  transition: 1s ease;
  background-color: #f1f1f1;
  text-decoration: none;
  color: #0060b2;
  position: relative;
  padding: 20px 40px;
  font-size: 20px;
  overflow: hidden;
}
.a-form {
  border: 2px solid #f1f1f1;
  text-decoration: none;
  color: #f1f1f1;
  padding: 5px 20px;
  font-size: 20px;
  overflow: hidden;
}

.a-form:hover {
  transition: 1s ease;
  background-color: #f1f1f1;
  border: transparent;
  text-decoration: none;
  color: #0060b2;
  padding: 5px 20px;
  font-size: 20px;
}

.some-icons {
  padding: 10px;
  font-size: 25px;
  width: 100%;
  border-radius: 15px;
}

#team a {
  border: 2px solid #f1f1f1;
}

#team a:hover {
  border: 2px solid #f1f1f1;
  background-color: #f1f1f1;
  color: #0060b2;
  border-radius: 5px;
  transition: 2s ease;
}

#nav a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#payment-cap h1 {
  font-size: 105px;
  font-weight: bold;
  margin-top: 8%;
}

.feat-sliders {
  border: 1px solid red;
  margin-bottom: 10%;
  padding-left: 10%;
}

/* ------------------------------------
* About Us Sec Styling
-------------------------------------*/
#sec-2 {
  height: auto;
  width: 98%;
}
.coin-vid {
  width: 30%;
  margin-left: 30%;
  margin-bottom: -100%;
}
.about-us-cover {
  margin-top: 5%;
}
.about-us {
  font-size: 40px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  color: black;
}
.mobile-for-ft-slider {
  display: none;
}
.dimension {
  height: 100%;
}

.features-row h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 22px;
  color: #0060b2;
}
.feaure-row-div {
  width: 80%;
}
.feat-elements p {
  width: 100%;
  height: 105px;
  color: #000000;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 400;
}
span {
  font-size: 35px;
}

/* ----------------------------
* Carousel Styling
------------------------------*/
#carousel-control {
  border: 2px solid #0060b2;
  background-color: #0060b2;
  margin-right: 90%;
}
/* --------------------------------
* Bar code Sec Styling
--------------------------------*/
#bar-code-sec {
  height: 100 auto;
  background-color: #000000;
}
.scan-to-pay img {
  width: 40%;
  margin-left: 30%;
}
.scan-to-pay h1 {
  width: 100%;
  text-align: center;
  height: 392px;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 160px;
  font-weight: 700;
  letter-spacing: 1.77px;
  line-height: 161px;
}
.scan-to-pay p {
  width: 100%;
  height: 30px;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 500;
}
.loading {
  animation: loading 5s linear infinite;
}

/* Animations for coin image header */
.header-img {
  animation: loading 10s linear infinite;
}
.bar-code-img {
  cursor: pointer;
  align-items: center;
  margin-left: 40%;
  width: auto;
}

/* ----------------------------------
* Adverting Section Styling
------------------------------------*/
#advert-sec {
  height: 100 auto;
}

.feature-cover {
  width: 70%;
  margin-left: 15%;
}

/* ---------------------------------------
* Footer Styling
 ----------------------------------------*/
/* #footer-cover {
  height: 100%;
  border: 1px solid red;
  margin-top: -5%;
} */

#footer {
  background-color: #0060b2;
}

#trade-mark p {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #f1f1f1;
  text-align: center;
}

#waitlist-div {
  align-content: flex-end;
  /* border: 1px solid red; */
}

#waitlist h4 {
color: #ffffff;
font-family: "IBM Plex Sans";
font-size: 25px;
font-weight: 700;
letter-spacing: 0.31px;
}

hr {
  margin-top: 40px;
  background-color: white;
  opacity: 0.503;
  color: #f1f1f1;
}

.header-img {
  width: 60%;
  margin-left: 40%;
  cursor: pointer;
}

/* ---------------------------------
 * Media queries styling 
 -----------------------------------*/
@media (max-width: 767.98px) {
  .header-img {
    display: none;
  }
}

.mobile-feat-header {
  display: none;
}

@media (max-width: 767.98px) {
  .mobile-feat-header {
    display: block;
    width: 100%;
  }

  .header-mobile-control {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .mobile-font {
    margin-top: -20%;
    font-size: 10px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  #sec-2 h2 {
    width: 100%;
    margin-left: 10px;
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 767.98px) {
  .mobile-feat {
    width: 100%;
  }
}

#mobile-features-styles {
  display: none;
}

.payment-methods {
  color: #0060b2;
  font-family: "IBM Plex Sans";
  font-weight: bold;
  cursor: pointer;
}

.payment-methods:hover {
  color: #00377f;
  font-weight: bold;
  cursor: pointer;
  transition: 1s ease;
}

@media (max-width: 767.98px) {
  #mobile-features-styles {
    display: block;
    margin-top: 20px;
    margin-left: 2%;
  }

  .sec {
    margin: 2%;
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 5px;
    cursor: pointer;
  }

  .sec h4 {
    color: #0060b2;
  }

  .features-row {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .scan-to-pay h1 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .scan-to-pay p {
    width: 90%;
    margin-left: 5%;
    font-size: 16px;
    cursor: pointer;
  }
  .scan-to-pay img {
    margin-left: 30%;
    width: 40%;
    cursor: pointer;
  }
}
#future-of-payment {
  margin-top: -6%;
  height: 261px;
  color: #ffffff;
  font-family: "IBM Plex Sans";
  font-size: 90px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 767.98px) {
  .payment-method {
    margin-top: 2%;
  }

  .mobile-for-ft-slider-cover {
    width: 100%;
  }

  .payment-flex {
    display: flex;
    width: 100%;
  }

  .feat {
    border-radius: 5px;
    margin-left: 10px;
  }

  .feat span {
    cursor: pointer;
    font-size: 22px;
  }

  .payment-methods {
    font-size: 10px;
    font-weight: bold;
    color: #0060b2;
  }

  .feature-cover {
    padding: 5%;
  }
}

@media (max-width: 767.98px) {
  .mobile-font {
    margin-top: -20%;
    font-size: 10px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .dp-for-ft-slider {
    display: none;
  }

  .mobile-for-ft-slider {
    display: block;
    display: flex;
    width: 100%;
  }
}

.mobile-sm-styles {
  display: none;
}

@media (max-width: 767.98px) {
  .mobile-sm-styles {
    display: block;
    display: flex;
    margin-top: -20%;
    font-size: 30px;
    margin-left: 5%;
  }

  .pc-view {
    display: none;
  }
  .feature-of-payment-mobile {
    width: 80%;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  #future-of-payment {
    margin-left: 5%;
    width: 100%;
    margin-bottom: 40px;
  }
  .waitlist-mobile {
    margin-bottom: 20px;
    width: 90%;
    margin-left: 2%;
  }
  #waitlist h4 {
    width: 90%;
    margin-left: 5%;
    color: #f1f1f1;
  }
}

/* -------------------------
  form styling 
  --------------------------*/
.form-sec {
  font-family: IBM Plex Sans;
  margin-top: 10%;
  margin-bottom: 5%;
}

.testers h1 {
  color: #f1f1f1;
  font-size: 50px;
  text-align: center;
  padding-top: 3%;
  font-weight: bold;
}

.form-control {
  border: 1px solid #0060b2;
  width: 100%;
  padding: 20px;
  border-radius: 0px;
}

@media (max-width: 767.98px) {
  .form-sec {
    width: 100%;
  }
}
