@media only screen and (max-width: 375px) {
  #logo {
    width: 60% !important;
    margin-left: 40% !important;
  }
}

@media only screen and (max-width: 480px) {
  #feaure-row-div {
    padding: 0 !important;
    margin: 0 !important;
  }

  .tm-about {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    font-family: "IBM Plex Sans", sans-serif !important;
    margin-bottom: 12% !important;
    line-height: 35px !important;
    font-size: 18px !important;
  }

  /* feature section */
  .feat-elements {
    display: flex;
    margin-top: 10% !important;
  }

  .feat-elements span {
    font-size: 22px !important;
    padding-top: 1%;
  }

  .feat-elements h4 {
    margin-left: 2%;
  }

  .feat-elements p {
    margin-left: 2%;
    margin-top: -5% !important;
    height: auto !important;
  }

  .features-row {
    position: relative;
    margin: 0 auto !important;
  }
  .pay-slide {
    display: none;
  }
  /* scan to pay */
  .scan-to-pay h1 {
    line-height: 80px !important;
    font-family: "IBM Plex Sans", sans-serif !important;
    font-size: 80px !important;
  }

  .coin-vid {
    width: 22%;
  }

  .join-btn {
    text-align: center;
    margin: 2rem !important;
  }

  .bg-video {
    display: none;
  }

  .tm-payment p {
    margin-bottom: 20% !important;
    font-size: auto !important;
  }

  .lg-head {
    width: 15% !important;
  }

  .overview-image {
    padding-right: 12% !important;
  }
  .pc-view {
    display: none;
  }
  .mobile-sm-styles {
    display: block;
    font-size: 25px !important;
    display: flex;
    font-family: "IBM Plex Sans", sans-serif !important;
    text-align: center;
    margin-bottom: 5% !important;
  }

  /* footer */
  #future-of-payment {
    text-align: center;
    margin: 1rem !important;
    font-size: 32px !important;
    height: auto !important;
  }
  #waitlist h4 {
    text-align: center;
    font-weight: normal;
    margin-left: 4% !important;
  }
}

/* ipods */
@media only screen and (max-width: 768px) {
  .navbar-toggler-icon {
    font-weight: normal;
    margin-top: 10% !important;
    color: white;
    margin-left: -70% !important;
  }

  #logo {
    margin-top: -10% !important;
    margin-left: 10%;
  }

  header {
    height: auto !important;
  }

  .tm-payment p {
    margin-bottom: -20% !important;
    font-size: 20px !important;
    width: 100% !important;
  }

  .tm-payment h1 {
    padding-top: 10% !important;
    font-size: 40px !important;
    line-height: 60px !important;
  }

  .tm-payment h1 span {
    font-size: 40px !important;
  }

  .join-btn {
    position: relative;
    font-size: 20px !important;
    margin-left: 28% !important;
  }
  .join-btn-foot {
    position: relative;
    font-size: 20px !important;
    margin-left: 28% !important;
  }

  .tm-about {
    margin-bottom: 0;

    line-height: 35px !important;
    font-size: 20px !important;
  }

  #feaure-row-div {
    margin-top: -10% !important;
    padding: 0% 1%;
  }

  h4 {
    font-size: 16px !important;
  }

  p {
    font-size: 14px !important;
  }

  .scan-to-pay p {
    margin-top: 5%;
    text-align: center;
  }
  .scan-to-pay h1 {
    font-size: 100px;
    height: auto !important;
    line-height: 100px;
  }

  .scan-to-pay img {
    margin-bottom: 8% !important;
  }

  .pay-slide {
    margin-top: 1% !important;
    width: 95% !important;
  }

  #future-of-payment {
    font-size: 50px;
    height: auto !important;
  }

  #trade-mark p {
    font-size: 12px !important;
  }
}
