* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif !important;
  text-rendering: optimizeLegibility;
}

.form-group input {
  padding: 2%;
  border: 1px solid #005fb2;
  width: 100%;
}
/* animation */
.wp-1 {
  opacity: 0;
}
.wp-1 .animated {
  opacity: 1;
  animation-duration: 2s ease;
}

nav {
  z-index: 1;
  width: 100%;
}

nav a {
  color: #e5e5e5;
  font-weight: 500;
}
.sticky-bar-start {
  transition: 1s ease;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 2px #e5e5e5;
  background-color: #151515;
}
/* sticky nav */
.sticky {
  position: fixed;
  transition: 1.2s ease;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0a1ed1;
}

.sticky nav a {
  color: #e5e5e5;
  font-weight: 0;
}

.back {
  background-color: rgba(248, 239, 239, 0.171);
}

.pay-slide {
  cursor: pointer;
  padding-left: 3%;
}
.tm-height {
  height: 100vh auto !important;
}

/* video background */
#bg-video {
  object-fit: cover;
  width: 100% !important;
  height: 85% !important;
  top: 0;
  left: 0;
  object-position: center;
}
video {
  /* border: 2px solid #e5e5e5; */
  border-radius: 15px;
}
/* about us */
.about-us-cover {
  height: auto;
}

.heading {
  background-color: #0a1ed1;
  padding-top: 1% !important;
  height: 100% !important;
}

.form-control {
  border-radius: 0;
  border: 1px solid #005fb2;
}

.send-message-btn {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: #0846e2;
  border-radius: 0;
}

.back-btn {
  font-family: "IBM Plex Sans", sans-serif !important;
  border-radius: 0;
  background-color: #151515;
}

#logo {
  width: 80%;
}

.lg-head {
  width: 8%;
}
#main{
  color: #e5e5e5 !important;
}
.join-btn {
  border-radius: 0;
  position: absolute;
  font-size: 30px;
  padding: 1% 2%;
  border: 1px solid red;
  margin-top: 40% !important;
  margin-left: 0.5%;
  color: #e5e5e5;
  background-color: transparent;
  border: 2px solid #e5e5e5;
}
.mobile-sm-styles {
  display: none;
}
.join-btn-foot {
  border-radius: 0;
  position: absolute;
  font-size: 30px;
  padding: 1% 2%;
  margin-left: 0.5%;
  color: #e5e5e5;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}
.join-btn-foot:hover {
  color: #0846e2;
  transition: 1s ease;
  padding: 1% 2%;
  border-radius: 0;
  background-color: #e5e5e5;
}
.join-btn:hover {
  color: #0846e2;
  transition: 1s ease;
  padding: 1% 2%;
  border-radius: 0;
  background-color: #e5e5e5;
}

.header-image {
  width: 100%;
  margin-top: 4%;
}
.overview-image {
  width: 100%;
}
.cover {
  max-width: 100%;
  padding: 0 1%;
  margin: 0 auto;
}

.tm-payment span {
  margin-left: 2%;
  font-size: 105px;
  font-weight: 700;
}
.tm-payment-mob {
  display: none;
}

.tm-payment {
  width: 100%;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  letter-spacing: 1.57px;
}
.tm-payment p {
  margin-left: -1%;
  margin-top: 1%;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-size: 38px;
  font-weight: 400;
  line-height: 59px;
}

.tm-payment h1 {
  height: 356px;
  margin-left: -2%;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-size: 105px;
  font-weight: 700;
  padding-top: 10%;
  letter-spacing: 1px;
}

.tm-about {
  width: 90%;
  margin-top: 8%;
  height: 440px;
  color: #151515;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
}

.some-icons {
  padding: 10px;
  font-size: 25px;
  width: 100%;
  border-radius: 15px;
}

.slide-sec-one img {
  width: 100%;
}
/* ------------------------------------
* About Us Sec Styling
-------------------------------------*/
.coin-vid {
  width: 50%;
  margin-left: 20%;
  margin-bottom: -100%;
}

.about-us {
  font-size: 40px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  color: black;
}

.mobile-for-ft-slider {
  display: none;
}

.dimension {
  height: 100%;
}
.features-row h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 22px;
  color: #0a1ed1;
}
.feat-elements p {
  width: 100%;
  height: 105px;
  color: #000000;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 400;
}
span {
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
}
/* --------------------------------
* Bar code Sec Styling
--------------------------------*/
#bar-code-sec {
  height: 100 auto;
  background-color: #151515;
}
.scan-to-pay img {
  width: 40%;
  margin-left: 30%;
}
.scan-to-pay h1 {
  width: 100%;
  text-align: center;
  height: 390px;
  color: #e5e5e5;
  font-size: 150px;
  font-weight: 700;
  letter-spacing: 1.77px;
  line-height: 160px;
}
.scan-to-pay p {
  width: 100%;
  height: 30px;
  color: #e5e5e5;
  font-size: 18px;
  font-weight: 500;
}
.loading {
  animation: loading 5s linear infinite;
}
.bar-code-img {
  cursor: pointer;
}
/* ----------------------------------
* Adverting Section Styling
------------------------------------*/
#advert-sec {
  height: 100 auto;
}
.feature-cover {
  width: 70%;
  margin-left: 15%;
}
/* ---------------------------------------
* Footer Styling
 ----------------------------------------*/
#footer {
  background-color: #0a1ed1;
  height: 100%;
}
#trade-mark p {
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #e5e5e5;
  text-align: center;
}

#waitlist h4 {
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.31px;
}
hr {
  margin-top: 40px;
  background-color: #e5e5e5;
  opacity: 0.503;
  color: #e5e5e5;
}
.header-img {
  width: 60%;
  margin-left: 40%;
  cursor: pointer;
}
/* ---------------------------------
 * Media queries styling 
 -----------------------------------*/
#mobile-features-styles {
  display: none;
}
.payment-methods {
  width: 100%;
  height: 141px;
  color: #0a1ed1;
  font-family: "IBM Plex Sans";
  font-size: 40px;
  font-weight: 300;
  line-height: 66px;
}

#future-of-payment {
  margin-top: -6%;
  height: 261px;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-size: 70px;
  font-weight: 350;
  letter-spacing: 1px;
}
